.container {
    width: 400px;
    margin-top: 150px;
    display: flex;
    padding: 40px;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 2px 2px #dad9d9;
}

.alerta {
    height: 50px;
    background: #e53a3a;
    border-radius: 5px;
    color: #fafafa;
    margin-bottom: 10px;
    padding: 15px;
    filter: hue-rotate(-10deg) grayscale(.15);
    cursor: pointer;
    align-items: center;
    display: flex;
}

.alerta svg {
    margin-bottom: 4px;
}
