.container {
    width: 400px;
    margin-top: 150px;
    display: flex;
    padding: 40px;
    border-radius: 5px;
    background: white;
}

body {
    background: -webkit-linear-gradient(left,#020202 6%,#141416 25%,#313336 55%,#2d2f31 69%,#36393b 83%,#5d5f5f 99%);
}
